## 1. Convert joining_date to datetime and count how many rows failed conversion.

In [90]:
import pandas as pd
df=pd.read_csv("C:\\Users\\prem2\\Downloads\\Employee_Dataset.csv")
df

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active
0,EMP1000,IT,Senior Analyst,60,85000,invalid,01/04/2021,5,3,NaN
1,emp_1,IT,Analyst,NaN,55000,10/06/2020,invalid,5,3,True
2,EMP1002,Sales,NaN,28,85000,NaN,2022-03-01,3,4,NaN
3,EMP1003,it,Analyst,45,35000,invalid,01/04/2021,1,3,NaN
4,NaN,IT,mgr,150,85000,NaN,invalid,12,2,True
...,...,...,...,...,...,...,...,...,...,...
995,EMP1995,Finance,NaN,60,55000,2019-05-10,2022-03-01,1,4,yes
996,EMP1996,IT,Analyst,35,250000,invalid,invalid,-2,5,NaN
997,EMP1997,Sales,Senior Analyst,150,250000,2021/07/15,invalid,3,excellent,yes
998,emp_998,Finance,NaN,60,85000,2019-05-10,NaN,12,NaN,True
999,EMP1999,it,Manager,150,₹75000,invalid,2022-03-01,ten,5,yes

In [91]:
df["joining_date"]=pd.to_datetime(df["joining_date"],errors="coerce")
df["joining_date"]

C:\Users\prem2\AppData\Local\Temp\ipykernel_21372\724919919.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["joining_date"]=pd.to_datetime(df["joining_date"],errors="coerce")

0            NaT
1     2020-10-06
2            NaT
3            NaT
4            NaT
         ...
995   2019-05-10
996          NaT
997   2021-07-15
998   2019-05-10
999          NaT
Name: joining_date, Length: 1000, dtype: datetime64[ns]

In [92]:
failed_count=df["joining_date"].isna().sum()
failed_count

np.int64(377)

## 2. Clean employee_id and identify how many duplicate employees exist after standardization.

In [93]:
df

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active
0,EMP1000,IT,Senior Analyst,60,85000,NaT,01/04/2021,5,3,NaN
1,emp_1,IT,Analyst,NaN,55000,2020-10-06,invalid,5,3,True
2,EMP1002,Sales,NaN,28,85000,NaT,2022-03-01,3,4,NaN
3,EMP1003,it,Analyst,45,35000,NaT,01/04/2021,1,3,NaN
4,NaN,IT,mgr,150,85000,NaT,invalid,12,2,True
...,...,...,...,...,...,...,...,...,...,...
995,EMP1995,Finance,NaN,60,55000,2019-05-10,2022-03-01,1,4,yes
996,EMP1996,IT,Analyst,35,250000,NaT,invalid,-2,5,NaN
997,EMP1997,Sales,Senior Analyst,150,250000,2021-07-15,invalid,3,excellent,yes
998,emp_998,Finance,NaN,60,85000,2019-05-10,NaN,12,NaN,True
999,EMP1999,it,Manager,150,₹75000,NaT,2022-03-01,ten,5,yes

In [94]:
df["employee_id"]=df["employee_id"].str.strip().str.lower().str.title()
df["employee_id"]

0      Emp1000
1        Emp_1
2      Emp1002
3      Emp1003
4          NaN
        ...
995    Emp1995
996    Emp1996
997    Emp1997
998    Emp_998
999    Emp1999
Name: employee_id, Length: 1000, dtype: object

In [95]:
duplicate_count=df["employee_id"].duplicated().sum()
duplicate_count

np.int64(503)

## 3. Standardize department and calculate the average salary per department excluding invalid salaries.

In [96]:
df

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active
0,Emp1000,IT,Senior Analyst,60,85000,NaT,01/04/2021,5,3,NaN
1,Emp_1,IT,Analyst,NaN,55000,2020-10-06,invalid,5,3,True
2,Emp1002,Sales,NaN,28,85000,NaT,2022-03-01,3,4,NaN
3,Emp1003,it,Analyst,45,35000,NaT,01/04/2021,1,3,NaN
4,NaN,IT,mgr,150,85000,NaT,invalid,12,2,True
...,...,...,...,...,...,...,...,...,...,...
995,Emp1995,Finance,NaN,60,55000,2019-05-10,2022-03-01,1,4,yes
996,Emp1996,IT,Analyst,35,250000,NaT,invalid,-2,5,NaN
997,Emp1997,Sales,Senior Analyst,150,250000,2021-07-15,invalid,3,excellent,yes
998,Emp_998,Finance,NaN,60,85000,2019-05-10,NaN,12,NaN,True
999,Emp1999,it,Manager,150,₹75000,NaT,2022-03-01,ten,5,yes

In [97]:
df["department"]=df["department"].str.strip().str.lower().str.title()

In [98]:
df["salary"]=pd.to_numeric(df["salary"],errors="coerce")
df["salary"]

0       85000.0
1       55000.0
2       85000.0
3       35000.0
4       85000.0
         ...
995     55000.0
996    250000.0
997    250000.0
998     85000.0
999         NaN
Name: salary, Length: 1000, dtype: float64

In [99]:
df.groupby("department", as_index=False)["salary"].mean().rename(
    columns={"salary": "avg_salary"}
)

  department     avg_salary
0    Finance  113253.012048
1         Hr  114800.000000
2         It  107944.444444
3      Sales  119000.000000

## 4. Convert age to numeric and find employees with valid salary but invalid age.

In [100]:
df

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active
0,Emp1000,It,Senior Analyst,60,85000.0,NaT,01/04/2021,5,3,NaN
1,Emp_1,It,Analyst,NaN,55000.0,2020-10-06,invalid,5,3,True
2,Emp1002,Sales,NaN,28,85000.0,NaT,2022-03-01,3,4,NaN
3,Emp1003,It,Analyst,45,35000.0,NaT,01/04/2021,1,3,NaN
4,NaN,It,mgr,150,85000.0,NaT,invalid,12,2,True
...,...,...,...,...,...,...,...,...,...,...
995,Emp1995,Finance,NaN,60,55000.0,2019-05-10,2022-03-01,1,4,yes
996,Emp1996,It,Analyst,35,250000.0,NaT,invalid,-2,5,NaN
997,Emp1997,Sales,Senior Analyst,150,250000.0,2021-07-15,invalid,3,excellent,yes
998,Emp_998,Finance,NaN,60,85000.0,2019-05-10,NaN,12,NaN,True
999,Emp1999,It,Manager,150,NaN,NaT,2022-03-01,ten,5,yes

In [101]:
df["age"]=pd.to_numeric(df["age"],errors="coerce")
df["age"]

0       60.0
1        NaN
2       28.0
3       45.0
4      150.0
       ...
995     60.0
996     35.0
997    150.0
998     60.0
999    150.0
Name: age, Length: 1000, dtype: float64

In [102]:
df[df["salary"].notna() & df["age"].isna()]

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active
1,Emp_1,It,Analyst,NaN,55000.0,2020-10-06,invalid,5,3,True
30,Emp1030,Hr,Manager,NaN,85000.0,2019-05-10,invalid,3,3,True
31,NaN,Hr,Analyst,NaN,55000.0,2020-10-06,2022-03-01,1,4,NaN
38,Emp_38,It,Manager,NaN,35000.0,2021-07-15,2022-03-01,1,poor,True
45,NaN,Finance,NaN,NaN,120000.0,NaT,01/04/2021,1,1,yes
...,...,...,...,...,...,...,...,...,...,...
959,NaN,Hr,NaN,NaN,120000.0,2020-10-06,invalid,8,3,NaN
974,Emp_974,NaN,mgr,NaN,85000.0,2021-07-15,01/04/2021,3,4,False
976,Emp1976,Hr,Analyst,NaN,250000.0,2019-05-10,NaN,1,poor,False
982,NaN,Hr,NaN,NaN,55000.0,2020-10-06,NaN,5,NaN,NaN
991,NaN,It,Analyst,NaN,120000.0,2020-10-06,2022-03-01,-2,4,yes

## 5. Clean salary and detect outliers using the IQR method.

In [103]:
Q1 = df['salary'].quantile(0.25)
Q3 = df['salary'].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [104]:
outliers = df[
    (df['salary'] < lower_bound) |
    (df['salary'] > upper_bound)
]

outliers

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active
11,NaN,Sales,mgr,22.0,250000.0,2021-07-15,NaN,NaN,5,yes
16,NaN,It,NaN,60.0,250000.0,NaT,invalid,12,poor,no
25,NaN,Sales,NaN,28.0,250000.0,NaT,NaN,8,NaN,True
34,NaN,Sales,Analyst,45.0,250000.0,NaT,2022-03-01,-2,5,False
41,NaN,NaN,ANALYST,60.0,250000.0,2021-07-15,NaN,3,4,yes
...,...,...,...,...,...,...,...,...,...,...
955,NaN,It,ANALYST,60.0,250000.0,2019-05-10,01/04/2021,NaN,3,no
969,Emp1969,It,NaN,150.0,250000.0,2019-05-10,2022-03-01,NaN,NaN,NaN
976,Emp1976,Hr,Analyst,NaN,250000.0,2019-05-10,NaN,1,poor,False
996,Emp1996,It,Analyst,35.0,250000.0,NaT,invalid,-2,5,NaN
997,Emp1997,Sales,Senior Analyst,150.0,250000.0,2021-07-15,invalid,3,excellent,yes

## 6. Convert performance_rating into numeric and calculate the median rating per designation.

In [105]:
df["performance_rating"]=pd.to_numeric(df["performance_rating"],errors="coerce")

In [106]:
df["designation"]=df["designation"].str.strip().str.lower().str.title()

In [107]:
df.groupby("designation",as_index=False)["performance_rating"].median().rename(columns={"performance_rating":"median performance rating"})

      designation  median performance rating
0         Analyst                        3.0
1         Manager                        3.0
2             Mgr                        3.0
3  Senior Analyst                        3.0

## 7. Identify employees whose last_promotion_date is earlier than their joining_date.

In [108]:
df

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active
0,Emp1000,It,Senior Analyst,60.0,85000.0,NaT,01/04/2021,5,3.0,NaN
1,Emp_1,It,Analyst,NaN,55000.0,2020-10-06,invalid,5,3.0,True
2,Emp1002,Sales,NaN,28.0,85000.0,NaT,2022-03-01,3,4.0,NaN
3,Emp1003,It,Analyst,45.0,35000.0,NaT,01/04/2021,1,3.0,NaN
4,NaN,It,Mgr,150.0,85000.0,NaT,invalid,12,2.0,True
...,...,...,...,...,...,...,...,...,...,...
995,Emp1995,Finance,NaN,60.0,55000.0,2019-05-10,2022-03-01,1,4.0,yes
996,Emp1996,It,Analyst,35.0,250000.0,NaT,invalid,-2,5.0,NaN
997,Emp1997,Sales,Senior Analyst,150.0,250000.0,2021-07-15,invalid,3,NaN,yes
998,Emp_998,Finance,NaN,60.0,85000.0,2019-05-10,NaN,12,NaN,True
999,Emp1999,It,Manager,150.0,NaN,NaT,2022-03-01,ten,5.0,yes

In [109]:
df["last_promotion_date"]=pd.to_datetime(df["last_promotion_date"],errors="coerce")

In [110]:
df[df["last_promotion_date"]<df["joining_date"]]

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active
24,Emp1024,Finance,Mgr,35.0,85000.0,2021-07-15,2021-01-04,8,3.0,True
40,Emp_40,NaN,NaN,60.0,85000.0,2021-07-15,2021-01-04,12,5.0,True
44,Emp_44,Sales,Mgr,45.0,NaN,2021-07-15,2021-01-04,8,2.0,True
47,NaN,Finance,Analyst,NaN,250000.0,2021-07-15,2021-01-04,3,NaN,True
71,Emp_71,Sales,Manager,60.0,250000.0,2021-07-15,2021-01-04,12,NaN,False
82,Emp_82,Sales,Senior Analyst,150.0,NaN,2021-07-15,2021-01-04,-2,1.0,yes
85,NaN,Sales,NaN,60.0,55000.0,2021-07-15,2021-01-04,NaN,2.0,yes
124,NaN,Sales,Analyst,NaN,250000.0,2021-07-15,2021-01-04,1,5.0,no
138,Emp_138,Finance,Mgr,45.0,250000.0,2021-07-15,2021-01-04,NaN,3.0,False
169,Emp_169,It,Mgr,60.0,120000.0,2021-07-15,2021-01-04,NaN,2.0,NaN
187,NaN,NaN,Analyst,150.0,250000.0,2021-07-15,2021-01-04,12,4.0,no
191,Emp1191,Sales,Mgr,NaN,NaN,2021-07-15,2021-01-04,NaN,NaN,yes
200,NaN,Sales,Mgr,22.0,35000.0,2021-07-15,2021-01-04,NaN,2.0,no
243,NaN,Sales,Mgr,NaN,NaN,2021-07-15,2021-01-04,5,NaN,NaN
247,NaN,Hr,Senior Analyst,-5.0,250000.0,2021-07-15,2021-01-04,-2,3.0,True
269,NaN,Hr,Mgr,NaN,NaN,2021-07-15,2021-01-04,ten,NaN,no
275,NaN,NaN,Analyst,45.0,NaN,2021-07-15,2021-01-04,1,5.0,False
293,Emp1293,Hr,NaN,60.0,NaN,2021-07-15,2021-01-04,8,NaN,NaN
331,Emp_331,Finance,Analyst,150.0,NaN,2021-07-15,2021-01-04,8,2.0,yes
360,Emp_360,Hr,NaN,150.0,85000.0,2021-07-15,2021-01-04,3,1.0,False
371,NaN,Sales,Manager,60.0,250000.0,2021-07-15,2021-01-04,3,3.0,False
379,Emp1379,Finance,Senior Analyst,-5.0,NaN,2021-07-15,2021-01-04,8,NaN,yes
390,Emp_390,NaN,Mgr,60.0,35000.0,2021-07-15,2021-01-04,8,NaN,no
416,NaN,Hr,Mgr,45.0,120000.0,2021-07-15,2021-01-04,1,NaN,False
423,NaN,Hr,NaN,NaN,NaN,2021-07-15,2021-01-04,12,2.0,False
482,Emp_482,Finance,NaN,22.0,85000.0,2021-07-15,2021-01-04,5,NaN,False
499,Emp1499,Sales,Analyst,NaN,55000.0,2021-07-15,2021-01-04,NaN,NaN,NaN
508,NaN,Hr,Analyst,60.0,85000.0,2021-07-15,2021-01-04,8,1.0,True
513,NaN,It,Mgr,45.0,85000.0,2021-07-15,2021-01-04,12,4.0,NaN
538,Emp1538,NaN,Mgr,60.0,NaN,2021-07-15,2021-01-04,1,3.0,True
548,NaN,It,Manager,60.0,35000.0,2021-07-15,2021-01-04,NaN,1.0,no
556,NaN,Hr,Senior Analyst,NaN,35000.0,2021-07-15,2021-01-04,8,3.0,NaN
576,NaN,It,Analyst,NaN,250000.0,2021-07-15,2021-01-04,1,2.0,NaN
578,NaN,Hr,Analyst,45.0,NaN,2021-07-15,2021-01-04,3,5.0,yes
590,NaN,Finance,Mgr,NaN,55000.0,2021-07-15,2021-01-04,8,2.0,True
607,NaN,Sales,Analyst,-5.0,NaN,2021-07-15,2021-01-04,NaN,4.0,yes
651,Emp_651,It,Senior Analyst,NaN,NaN,2021-07-15,2021-01-04,8,NaN,True
663,Emp_663,It,Senior Analyst,28.0,NaN,2021-07-15,2021-01-04,3,NaN,NaN
697,Emp_697,Sales,Senior Analyst,35.0,250000.0,2021-07-15,2021-01-04,12,NaN,True
722,Emp1722,It,Manager,22.0,NaN,2021-07-15,2021-01-04,12,4.0,no
739,Emp1739,Sales,NaN,45.0,NaN,2021-07-15,2021-01-04,NaN,NaN,yes
752,NaN,It,Analyst,60.0,250000.0,2021-07-15,2021-01-04,3,1.0,True
772,NaN,Hr,Mgr,60.0,55000.0,2021-07-15,2021-01-04,1,4.0,True
781,NaN,Hr,Manager,45.0,85000.0,2021-07-15,2021-01-04,5,4.0,False
833,NaN,Finance,Analyst,NaN,35000.0,2021-07-15,2021-01-04,-2,3.0,NaN
838,Emp_838,NaN,Analyst,60.0,35000.0,2021-07-15,2021-01-04,ten,NaN,True
851,Emp1851,Finance,Analyst,NaN,NaN,2021-07-15,2021-01-04,12,4.0,True
861,Emp_861,NaN,NaN,60.0,NaN,2021-07-15,2021-01-04,12,1.0,NaN
877,NaN,Sales,Analyst,NaN,120000.0,2021-07-15,2021-01-04,1,1.0,True
974,Emp_974,NaN,Mgr,NaN,85000.0,2021-07-15,2021-01-04,3,4.0,False

## 8. Clean experience_years and find mismatches where experience exceeds employee age.

In [111]:
df

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active
0,Emp1000,It,Senior Analyst,60.0,85000.0,NaT,2021-01-04,5,3.0,NaN
1,Emp_1,It,Analyst,NaN,55000.0,2020-10-06,NaT,5,3.0,True
2,Emp1002,Sales,NaN,28.0,85000.0,NaT,NaT,3,4.0,NaN
3,Emp1003,It,Analyst,45.0,35000.0,NaT,2021-01-04,1,3.0,NaN
4,NaN,It,Mgr,150.0,85000.0,NaT,NaT,12,2.0,True
...,...,...,...,...,...,...,...,...,...,...
995,Emp1995,Finance,NaN,60.0,55000.0,2019-05-10,NaT,1,4.0,yes
996,Emp1996,It,Analyst,35.0,250000.0,NaT,NaT,-2,5.0,NaN
997,Emp1997,Sales,Senior Analyst,150.0,250000.0,2021-07-15,NaT,3,NaN,yes
998,Emp_998,Finance,NaN,60.0,85000.0,2019-05-10,NaT,12,NaN,True
999,Emp1999,It,Manager,150.0,NaN,NaT,NaT,ten,5.0,yes

In [112]:
df["experience_years"] = df["experience_years"].str.replace(r'[-]', '', regex=True)

In [113]:
df["experience_years"]=pd.to_numeric(df["experience_years"],errors="coerce")
df["experience_years"]

0       5.0
1       5.0
2       3.0
3       1.0
4      12.0
       ...
995     1.0
996     2.0
997     3.0
998    12.0
999     NaN
Name: experience_years, Length: 1000, dtype: float64

In [114]:
df[df["age"]<df["experience_years"]]

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active
10,Emp_10,Finance,Analyst,-5.0,35000.0,NaT,NaT,8.0,1.0,no
17,Emp_17,Sales,Senior Analyst,-5.0,NaN,NaT,2021-01-04,3.0,4.0,False
23,Emp_23,Finance,NaN,-5.0,85000.0,NaT,NaT,2.0,5.0,NaN
43,NaN,It,Manager,-5.0,120000.0,NaT,NaT,1.0,NaN,NaN
49,NaN,It,Mgr,-5.0,55000.0,2021-07-15,NaT,5.0,3.0,False
...,...,...,...,...,...,...,...,...,...,...
965,NaN,Sales,Mgr,-5.0,NaN,2020-10-06,NaT,12.0,NaN,no
981,NaN,Sales,Mgr,-5.0,85000.0,NaT,NaT,2.0,NaN,yes
985,Emp_985,Sales,Mgr,-5.0,NaN,NaT,NaT,2.0,1.0,NaN
990,Emp_990,NaN,Senior Analyst,-5.0,85000.0,2019-05-10,2021-01-04,12.0,5.0,yes
994,Emp1994,Sales,NaN,-5.0,85000.0,2019-05-10,NaT,12.0,1.0,True

In [115]:
df["age"].unique()

array([ 60.,  nan,  28.,  45., 150.,  35.,  22.,  -5.])

## 9. Standardize designation and count how many active employees are in each designation.

In [116]:
df["designation"].unique()

array(['Senior Analyst', 'Analyst', nan, 'Mgr', 'Manager'], dtype=object)

In [117]:
df['designation'] = df['designation'].str.strip().str.title().replace('Mgr', 'Manager')

In [118]:

active_counts = df[df['is_active'].astype(str).str.lower().isin(['true', 'yes', '1.0', '1'])].groupby('designation').size()
print(active_counts)

designation
Analyst           122
Manager           150
Senior Analyst     88
dtype: int64

## 10. Convert is_active to boolean and find inactive employees with recent promotions.

In [119]:
df['is_active_bool'] = df['is_active'].astype(str).str.lower().isin(['true', 'yes', '1.0', '1'])

In [122]:
ref_date = df[['joining_date', 'last_promotion_date']].max().max()
recent_promo_cutoff = ref_date - pd.DateOffset(years=2)

In [124]:

inactive_recent_promo = df[(df['is_active_bool'] == False) & (df['last_promotion_date'] >= recent_promo_cutoff)]
inactive_recent_promo

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active,is_active_bool
0,Emp1000,It,Senior Analyst,60.0,85000.0,NaT,2021-01-04,5.0,3.0,NaN,False
3,Emp1003,It,Analyst,45.0,35000.0,NaT,2021-01-04,1.0,3.0,NaN,False
9,Emp1009,It,NaN,22.0,120000.0,2020-10-06,2021-01-04,NaN,4.0,NaN,False
17,Emp_17,Sales,Senior Analyst,-5.0,NaN,NaT,2021-01-04,3.0,4.0,False,False
55,NaN,Sales,Senior Analyst,NaN,120000.0,NaT,2021-01-04,8.0,3.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
973,NaN,It,NaN,60.0,NaN,NaT,2021-01-04,5.0,NaN,False,False
974,Emp_974,NaN,Manager,NaN,85000.0,2021-07-15,2021-01-04,3.0,4.0,False,False
980,Emp1980,It,Manager,45.0,NaN,2019-05-10,2021-01-04,2.0,NaN,NaN,False
983,Emp1983,Hr,Manager,150.0,NaN,NaT,2021-01-04,1.0,1.0,False,False
988,Emp1988,Finance,Analyst,35.0,55000.0,NaT,2021-01-04,2.0,5.0,NaN,False

## 11. Calculate employee tenure in years and find those with tenure above the 90th percentile.

In [125]:
df['tenure_years'] = (ref_date - df['joining_date']).dt.days / 365.25

In [126]:

tenure_90th = df['tenure_years'].quantile(0.9)

In [127]:

high_tenure_employees = df[df['tenure_years'] >= tenure_90th]
high_tenure_employees

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active,is_active_bool,tenure_years
5,NaN,It,Manager,NaN,NaN,2019-05-10,NaT,8.0,3.0,no,False,2.182067
14,NaN,It,Analyst,150.0,NaN,2019-05-10,2021-01-04,2.0,2.0,yes,True,2.182067
26,NaN,Finance,Senior Analyst,28.0,NaN,2019-05-10,NaT,8.0,5.0,True,True,2.182067
29,NaN,Finance,Manager,28.0,55000.0,2019-05-10,NaT,NaN,4.0,yes,True,2.182067
30,Emp1030,Hr,Manager,NaN,85000.0,2019-05-10,NaT,3.0,3.0,True,True,2.182067
...,...,...,...,...,...,...,...,...,...,...,...,...
980,Emp1980,It,Manager,45.0,NaN,2019-05-10,2021-01-04,2.0,NaN,NaN,False,2.182067
990,Emp_990,NaN,Senior Analyst,-5.0,85000.0,2019-05-10,2021-01-04,12.0,5.0,yes,True,2.182067
994,Emp1994,Sales,NaN,-5.0,85000.0,2019-05-10,NaT,12.0,1.0,True,True,2.182067
995,Emp1995,Finance,NaN,60.0,55000.0,2019-05-10,NaT,1.0,4.0,yes,True,2.182067
998,Emp_998,Finance,NaN,60.0,85000.0,2019-05-10,NaT,12.0,NaN,True,True,2.182067

## 12. Identify departments where more than 25% of salary values are missing or invalid.

In [128]:
df['dept_clean'] = df['department'].str.strip().str.title()

In [129]:
dept_salary_check = df.groupby('dept_clean')['salary'].apply(lambda x: x.isna().mean() > 0.25)

In [130]:
depts_with_missing_salary = dept_salary_check[dept_salary_check == True]
depts_with_missing_salary

dept_clean
Finance    True
Hr         True
It         True
Sales      True
Name: salary, dtype: bool

## 13. Create a flag for employees with high performance (≥4) but below-median salary.

In [132]:
median_salary = df['salary'].median()

In [133]:
df['high_perf_low_salary_flag'] = (df['performance_rating'] >= 4) & (df['salary'] < median_salary)

In [134]:
df['high_perf_low_salary_flag']

0      False
1      False
2      False
3      False
4      False
       ...
995     True
996    False
997    False
998    False
999    False
Name: high_perf_low_salary_flag, Length: 1000, dtype: bool

## 14. Detect employees with no promotion date but more than 5 years of experience

In [135]:
no_promo_high_exp = df[df['last_promotion_date'].isna() & (df['experience_years'] > 5)]
no_promo_high_exp

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active,is_active_bool,tenure_years,dept_clean,high_perf_low_salary_flag
4,NaN,It,Manager,150.0,85000.0,NaT,NaT,12.0,2.0,True,True,NaN,It,False
5,NaN,It,Manager,NaN,NaN,2019-05-10,NaT,8.0,3.0,no,False,2.182067,It,False
6,NaN,Hr,NaN,35.0,120000.0,2020-10-06,NaT,12.0,NaN,NaN,False,0.772074,Hr,False
10,Emp_10,Finance,Analyst,-5.0,35000.0,NaT,NaT,8.0,1.0,no,False,NaN,Finance,False
12,Emp_12,Sales,Analyst,60.0,NaN,NaT,NaT,8.0,NaN,NaN,False,NaN,Sales,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977,Emp_977,It,Analyst,28.0,NaN,2019-05-10,NaT,8.0,4.0,NaN,False,2.182067,It,False
978,Emp1978,Hr,Senior Analyst,28.0,NaN,2020-10-06,NaT,8.0,1.0,True,True,0.772074,Hr,False
993,Emp1993,Sales,NaN,35.0,120000.0,2020-10-06,NaT,12.0,NaN,no,False,0.772074,Sales,False
994,Emp1994,Sales,NaN,-5.0,85000.0,2019-05-10,NaT,12.0,1.0,True,True,2.182067,Sales,False
998,Emp_998,Finance,NaN,60.0,85000.0,2019-05-10,NaT,12.0,NaN,True,True,2.182067,Finance,False

## 15. Build a validation rule to flag rows violating at least two business constraints

In [136]:
c1 = df['age'].isna() | (df['age'] < 18) | (df['age'] > 70)
c2 = df['salary'].isna() | (df['salary'] <= 0)
c3 = df['performance_rating'].isna()
c4 = (df['joining_date'] > df['last_promotion_date'])
c5 = (df['experience_years'] > (df['age'] - 18))

In [137]:
df['violation_count'] = c1.astype(int) + c2.astype(int) + c3.astype(int) + c4.fillna(False).astype(int) + c5.fillna(False).astype(int)
flagged_rows = df[df['violation_count'] >= 2]
flagged_rows

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active,is_active_bool,tenure_years,dept_clean,high_perf_low_salary_flag,violation_count
5,NaN,It,Manager,NaN,NaN,2019-05-10,NaT,8.0,3.0,no,False,2.182067,It,False,2
8,Emp1008,Finance,Analyst,150.0,35000.0,2021-07-15,NaT,NaN,NaN,True,True,0.000000,Finance,False,2
10,Emp_10,Finance,Analyst,-5.0,35000.0,NaT,NaT,8.0,1.0,no,False,NaN,Finance,False,2
12,Emp_12,Sales,Analyst,60.0,NaN,NaT,NaT,8.0,NaN,NaN,False,NaN,Sales,False,2
14,NaN,It,Analyst,150.0,NaN,2019-05-10,2021-01-04,2.0,2.0,yes,True,2.182067,It,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,Emp_985,Sales,Manager,-5.0,NaN,NaT,NaT,2.0,1.0,NaN,False,NaN,Sales,False,3
990,Emp_990,NaN,Senior Analyst,-5.0,85000.0,2019-05-10,2021-01-04,12.0,5.0,yes,True,2.182067,NaN,False,2
994,Emp1994,Sales,NaN,-5.0,85000.0,2019-05-10,NaT,12.0,1.0,True,True,2.182067,Sales,False,2
997,Emp1997,Sales,Senior Analyst,150.0,250000.0,2021-07-15,NaT,3.0,NaN,yes,True,0.000000,Sales,False,2
999,Emp1999,It,Manager,150.0,NaN,NaT,NaT,NaN,5.0,yes,True,NaN,It,False,2

## 16)Find employees whose promotion gap (promotion date - joining date) is less than 1 year

In [138]:
df['promo_gap'] = (df['last_promotion_date'] - df['joining_date']).dt.days / 365.25
quick_promotion_emps = df[df['promo_gap'] < 1]
quick_promotion_emps

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active,is_active_bool,tenure_years,dept_clean,high_perf_low_salary_flag,violation_count,promo_gap
9,Emp1009,It,NaN,22.0,120000.0,2020-10-06,2021-01-04,NaN,4.0,NaN,False,0.772074,It,False,0,0.246407
24,Emp1024,Finance,Manager,35.0,85000.0,2021-07-15,2021-01-04,8.0,3.0,True,True,0.000000,Finance,False,1,-0.525667
40,Emp_40,NaN,NaN,60.0,85000.0,2021-07-15,2021-01-04,12.0,5.0,True,True,0.000000,NaN,False,1,-0.525667
44,Emp_44,Sales,Manager,45.0,NaN,2021-07-15,2021-01-04,8.0,2.0,True,True,0.000000,Sales,False,2,-0.525667
47,NaN,Finance,Analyst,NaN,250000.0,2021-07-15,2021-01-04,3.0,NaN,True,True,0.000000,Finance,False,3,-0.525667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943,Emp1943,Finance,Manager,45.0,35000.0,2020-10-06,2021-01-04,2.0,NaN,NaN,False,0.772074,Finance,False,1,0.246407
945,NaN,Hr,Manager,-5.0,35000.0,2020-10-06,2021-01-04,3.0,NaN,True,True,0.772074,Hr,False,3,0.246407
966,NaN,It,Analyst,45.0,NaN,2020-10-06,2021-01-04,1.0,NaN,no,False,0.772074,It,False,2,0.246407
974,Emp_974,NaN,Manager,NaN,85000.0,2021-07-15,2021-01-04,3.0,4.0,False,False,0.000000,NaN,False,2,-0.525667
975,NaN,NaN,Senior Analyst,28.0,55000.0,2020-10-06,2021-01-04,2.0,NaN,yes,True,0.772074,NaN,False,1,0.246407

## 17) Identify employees whose salary is above the department average but performance rating is below the department median

In [139]:
dept_avg_sal = df.groupby('dept_clean')['salary'].transform('mean')

In [140]:
dept_med_perf = df.groupby('dept_clean')['performance_rating'].transform('median')

In [141]:
salary_performance_anomalies = df[(df['salary'] > dept_avg_sal) & (df['performance_rating'] < dept_med_perf)]

In [142]:
salary_performance_anomalies

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active,is_active_bool,tenure_years,dept_clean,high_perf_low_salary_flag,violation_count,promo_gap
45,NaN,Finance,NaN,NaN,120000.0,NaT,2021-01-04,1.0,1.0,yes,True,NaN,Finance,False,1,NaN
115,Emp_115,Sales,Analyst,28.0,250000.0,2021-07-15,NaT,2.0,2.0,no,False,0.000000,Sales,False,0,NaN
127,NaN,Finance,NaN,150.0,120000.0,NaT,NaT,3.0,1.0,True,True,NaN,Finance,False,1,NaN
157,NaN,Finance,Analyst,22.0,250000.0,2019-05-10,NaT,3.0,1.0,False,False,2.182067,Finance,False,0,NaN
169,Emp_169,It,Manager,60.0,120000.0,2021-07-15,2021-01-04,NaN,2.0,NaN,False,0.000000,It,False,1,-0.525667
173,Emp_173,Finance,Manager,45.0,120000.0,2020-10-06,NaT,8.0,1.0,False,False,0.772074,Finance,False,0,NaN
217,NaN,It,NaN,28.0,250000.0,2021-07-15,NaT,NaN,2.0,yes,True,0.000000,It,False,0,NaN
223,NaN,Hr,Manager,NaN,120000.0,2019-05-10,NaT,2.0,1.0,True,True,2.182067,Hr,False,1,NaN
270,NaN,It,Analyst,NaN,120000.0,2020-10-06,NaT,2.0,2.0,NaN,False,0.772074,It,False,1,NaN
273,NaN,Finance,Analyst,NaN,120000.0,2020-10-06,NaT,12.0,2.0,yes,True,0.772074,Finance,False,1,NaN
286,NaN,Hr,NaN,28.0,120000.0,NaT,NaT,1.0,1.0,False,False,NaN,Hr,False,0,NaN
288,NaN,It,Analyst,45.0,250000.0,NaT,NaT,3.0,1.0,no,False,NaN,It,False,0,NaN
297,Emp_297,Sales,NaN,150.0,120000.0,2020-10-06,2021-01-04,2.0,2.0,NaN,False,0.772074,Sales,False,1,0.246407
300,Emp1300,It,Analyst,28.0,120000.0,2019-05-10,NaT,NaN,2.0,True,True,2.182067,It,False,0,NaN
346,NaN,Sales,Manager,150.0,250000.0,2020-10-06,NaT,NaN,2.0,NaN,False,0.772074,Sales,False,1,NaN
372,Emp1372,Sales,Manager,45.0,250000.0,2021-07-15,NaT,NaN,2.0,False,False,0.000000,Sales,False,0,NaN
386,NaN,Hr,Manager,60.0,250000.0,2020-10-06,2021-01-04,2.0,2.0,True,True,0.772074,Hr,False,0,0.246407
401,Emp1401,Finance,Analyst,22.0,250000.0,NaT,NaT,1.0,1.0,NaN,False,NaN,Finance,False,0,NaN
418,NaN,Hr,Analyst,28.0,250000.0,2021-07-15,NaT,12.0,2.0,False,False,0.000000,Hr,False,1,NaN
421,Emp1421,It,Manager,35.0,120000.0,2020-10-06,NaT,1.0,2.0,NaN,False,0.772074,It,False,0,NaN
468,NaN,It,Analyst,-5.0,120000.0,2020-10-06,NaT,8.0,1.0,no,False,0.772074,It,False,2,NaN
511,Emp_511,Sales,Senior Analyst,28.0,120000.0,NaT,NaT,NaN,1.0,yes,True,NaN,Sales,False,0,NaN
525,Emp_525,Sales,Manager,-5.0,250000.0,2020-10-06,NaT,1.0,1.0,False,False,0.772074,Sales,False,2,NaN
543,NaN,Hr,Analyst,35.0,250000.0,NaT,NaT,5.0,1.0,NaN,False,NaN,Hr,False,0,NaN
571,NaN,Sales,NaN,150.0,120000.0,2019-05-10,NaT,5.0,1.0,False,False,2.182067,Sales,False,1,NaN
576,NaN,It,Analyst,NaN,250000.0,2021-07-15,2021-01-04,1.0,2.0,NaN,False,0.000000,It,False,2,-0.525667
596,NaN,It,Senior Analyst,150.0,120000.0,2020-10-06,2021-01-04,12.0,1.0,yes,True,0.772074,It,False,1,0.246407
603,NaN,Sales,NaN,NaN,120000.0,NaT,NaT,NaN,1.0,True,True,NaN,Sales,False,1,NaN
617,Emp_617,Finance,Analyst,-5.0,120000.0,2020-10-06,NaT,8.0,2.0,yes,True,0.772074,Finance,False,2,NaN
622,Emp1622,It,Manager,NaN,120000.0,2020-10-06,NaT,NaN,2.0,NaN,False,0.772074,It,False,1,NaN
647,Emp1647,Hr,Senior Analyst,22.0,250000.0,2020-10-06,NaT,8.0,1.0,True,True,0.772074,Hr,False,1,NaN
657,Emp_657,It,Analyst,NaN,120000.0,NaT,NaT,1.0,2.0,True,True,NaN,It,False,1,NaN
660,Emp_660,Finance,NaN,22.0,120000.0,2021-07-15,NaT,12.0,1.0,yes,True,0.000000,Finance,False,1,NaN
666,NaN,Hr,Analyst,45.0,250000.0,2020-10-06,NaT,12.0,1.0,no,False,0.772074,Hr,False,0,NaN
667,Emp_667,Hr,Manager,28.0,250000.0,NaT,NaT,1.0,2.0,yes,True,NaN,Hr,False,0,NaN
690,NaN,It,NaN,NaN,120000.0,2019-05-10,NaT,8.0,1.0,False,False,2.182067,It,False,1,NaN
752,NaN,It,Analyst,60.0,250000.0,2021-07-15,2021-01-04,3.0,1.0,True,True,0.000000,It,False,1,-0.525667
753,Emp_753,Hr,NaN,22.0,250000.0,NaT,NaT,3.0,1.0,NaN,False,NaN,Hr,False,0,NaN
807,Emp1807,It,Analyst,150.0,250000.0,2019-05-10,NaT,12.0,1.0,True,True,2.182067,It,False,1,NaN
837,NaN,Hr,Analyst,22.0,120000.0,NaT,NaT,8.0,1.0,True,True,NaN,Hr,False,1,NaN
848,NaN,Hr,Senior Analyst,28.0,250000.0,2021-07-15,NaT,1.0,2.0,False,False,0.000000,Hr,False,0,NaN
850,NaN,Sales,Senior Analyst,NaN,120000.0,2019-05-10,NaT,12.0,1.0,False,False,2.182067,Sales,False,1,NaN
877,NaN,Sales,Analyst,NaN,120000.0,2021-07-15,2021-01-04,1.0,1.0,True,True,0.000000,Sales,False,2,-0.525667
879,NaN,Hr,Analyst,28.0,250000.0,NaT,NaT,NaN,2.0,False,False,NaN,Hr,False,0,NaN
894,Emp1894,It,Analyst,-5.0,120000.0,2020-10-06,NaT,5.0,1.0,False,False,0.772074,It,False,2,NaN
895,NaN,It,Manager,NaN,250000.0,NaT,2021-01-04,12.0,2.0,no,False,NaN,It,False,1,NaN
897,Emp_897,Sales,Manager,22.0,250000.0,NaT,NaT,3.0,2.0,no,False,NaN,Sales,False,0,NaN
919,Emp1919,Sales,Senior Analyst,NaN,120000.0,2019-05-10,NaT,5.0,1.0,False,False,2.182067,Sales,False,1,NaN
927,NaN,Hr,Senior Analyst,22.0,120000.0,2019-05-10,2021-01-04,2.0,1.0,yes,True,2.182067,Hr,False,0,1.656400
939,NaN,It,NaN,28.0,120000.0,NaT,NaT,NaN,1.0,no,False,NaN,It,False,0,NaN
989,NaN,Hr,Analyst,45.0,120000.0,NaT,NaT,3.0,1.0,True,True,NaN,Hr,False,0,NaN

## 18)Create age bands (Young, Mid, Senior) and count employees per band per department

In [143]:
df['age_band'] = pd.cut(df['age'], bins=[0, 29, 50, 100], labels=['Young', 'Mid', 'Senior'])

In [145]:
age_band_distribution = df.groupby(['dept_clean', 'age_band']).size().unstack(fill_value=0)
age_band_distribution

C:\Users\prem2\AppData\Local\Temp\ipykernel_21372\345019433.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  age_band_distribution = df.groupby(['dept_clean', 'age_band']).size().unstack(fill_value=0)

age_band    Young  Mid  Senior
dept_clean
Finance        33   31      13
Hr             54   52      22
It             53   78      37
Sales          48   57      25

## 19)Find departments where the average experience is higher than the company-wide average

In [146]:
company_avg_exp = df['experience_years'].mean()
dept_avg_exp = df.groupby('dept_clean')['experience_years'].mean()
high_experience_depts = dept_avg_exp[dept_avg_exp > company_avg_exp]

In [147]:
high_experience_depts

dept_clean
Finance    5.326923
Sales      5.462366
Name: experience_years, dtype: float64

## 20)Detect employees marked as inactive but having a valid promotion date within the last 2 years

In [148]:
inactive_recent_promo_check = df[(df['is_active_bool'] == False) & (df['last_promotion_date'] >= recent_promo_cutoff)]
inactive_recent_promo_check

,employee_id,department,designation,age,salary,joining_date,last_promotion_date,experience_years,performance_rating,is_active,is_active_bool,tenure_years,dept_clean,high_perf_low_salary_flag,violation_count,promo_gap,age_band
0,Emp1000,It,Senior Analyst,60.0,85000.0,NaT,2021-01-04,5.0,3.0,NaN,False,NaN,It,False,0,NaN,Senior
3,Emp1003,It,Analyst,45.0,35000.0,NaT,2021-01-04,1.0,3.0,NaN,False,NaN,It,False,0,NaN,Mid
9,Emp1009,It,NaN,22.0,120000.0,2020-10-06,2021-01-04,NaN,4.0,NaN,False,0.772074,It,False,0,0.246407,Young
17,Emp_17,Sales,Senior Analyst,-5.0,NaN,NaT,2021-01-04,3.0,4.0,False,False,NaN,Sales,False,3,NaN,NaN
55,NaN,Sales,Senior Analyst,NaN,120000.0,NaT,2021-01-04,8.0,3.0,NaN,False,NaN,Sales,False,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,NaN,It,NaN,60.0,NaN,NaT,2021-01-04,5.0,NaN,False,False,NaN,It,False,2,NaN,Senior
974,Emp_974,NaN,Manager,NaN,85000.0,2021-07-15,2021-01-04,3.0,4.0,False,False,0.000000,NaN,False,2,-0.525667,NaN
980,Emp1980,It,Manager,45.0,NaN,2019-05-10,2021-01-04,2.0,NaN,NaN,False,2.182067,It,False,2,1.656400,Mid
983,Emp1983,Hr,Manager,150.0,NaN,NaT,2021-01-04,1.0,1.0,False,False,NaN,Hr,False,2,NaN,NaN
988,Emp1988,Finance,Analyst,35.0,55000.0,NaT,2021-01-04,2.0,5.0,NaN,False,NaN,Finance,True,0,NaN,Mid